.codex_tmp/
**/.codex_tmp/

build/
**/build/

__pycache__/
**/__pycache__/
*.pyc

*.uf2
*.elf
*.bin
*.map

.DS_Store

clean_positioning/branch_compute_angle_v2/lh2_on_rp2040/
clean_positioning/pr1_analysis/lh2_on_rp2040/
firmware/lh2_on_rp2040/.git/
stage_lbees/lh2_on_rp2040_clean2/
positioningv10/docs/rapport_stage_handoff_lh2.md
